@using Admin_Models;
@model Admin


@{ ViewData["Title"]="Login";}


<style>  
body{  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: rgb(109, 207, 236);  
}  
.container {  
    padding: 50px;  
  background-color: lightblue;  
}  
  
input[type=text], input[type=password], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 4px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
}  
input[type=text]:focus, input[type=password]:focus {  
  background-color: rgb(240, 246, 247);  
  outline: none;  
}  
 div {  
            padding: 8px 0;  
         }  
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
.registerbtn {  
  background-color: #4CAF50;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 50%;  
  opacity: 0.9;  
}  
.registerbtn:hover {  
  opacity: 1;  
}  
</style>  


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeData</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    
    <div   class="container-fluid">
        <h1>Update Profile<a asp-action="EmployeeUserProfile" asp-controller="Employee" class="btn btn-sm btn-secondary" >Back</a></h1>
        <h2 class="alert-danger">@ViewBag.Result</h2>
        <form method="post">
            
             <div class="row">
              <div class="form-group col-md-5">
             
                <label asp-for="Employeeid"></label>
                <input type="text" asp-for="Employeeid" class="form-control" />
                
            </div>
            <div class="form-group col-md-5">
                <label asp-for="EmployeeName"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
                @* <span asp-validation-for="EmployeeName" class="text-danger"></span> *@
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Age"></label>
                <input type="text" asp-for="Age" class="form-control"/>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="JoiningDate"></label>
                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="date" asp-for="JoiningDate"/>
                <span asp-validation-for="JoiningDate" class="text-danger"></span>
            </div>
            @* <div class="form-group col-md-5">
                <label asp-for="Gender"></label>
                <input asp-for="Gender" class="form-control"/>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div> *@
            <div class="form-group col-md-5">
                    <label  asp-for="Gender"></label>
                    <select type="text" asp-for="Gender" class="form-select form-control-md">
                      <option asp-value="Male">Male</option>
                      <option asp-value="Female">Female</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                  </div>
            <div class="form-group col-md-5">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                    <label  asp-for="Department"></label>
                    <select type="text" asp-for="Department" class="form-select form-control-md">
                      <option asp-value="admin">Human Resource</option>
                      <option asp-value="trainer">Finance</option>
                      <option asp-value="trainee">IT Department</option>
                      <option asp-value="trainee">Sales</option>
                    </select>
                    <span asp-validation-for="Department" class="text-danger"></span>
                  </div>
            <div class="form-group col-md-5">
                <label asp-for="AccountNumber"></label>
                <input type ="text" asp-for="AccountNumber" class="form-control"/>
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            
             <div class="form-group col-md-5">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                 <label asp-for="image">Upload Image:</label></br>
                <input type="file" asp-for="image" class="form-control-file" accept="image*/"/>
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div></br>
           
            <div class=" panel-body col-md-5">
                <button type="submit" class="btn btn-sm btn-primary">Update</button>
            </div>
        </form>
    </div>
    
</body>
</html>

   