@using Admin_Models
@model Admin
@{ ViewData["Title"]="Login";}

<style>  


    body{  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: rgb(109, 207, 236);  
}  
.container {  
    padding: 50px;  
  background-color: lightblue;  
}  
  
input[type=text], input[type=password], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 4px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
}  
input[type=text]:focus, input[type=password]:focus {  
  background-color: rgb(240, 246, 247);  
  outline: none;  
}  
 div {  
            padding: 8px 0;  
         }  
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
.registerbtn {  
  background-color: #4CAF50;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 50%;  
  opacity: 0.9;  
}  
.registerbtn:hover {  
  opacity: 1;  
}  
body{  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: rgb(109, 207, 236);  
}  
.container {  
    padding: 100px;  
  background-color: lightblue;  
}  
  

input[type=text]:focus, input[type=password]:focus {  
  background-color: rgb(240, 246, 247);  
  outline: none;  
}  
 div {  
            padding: 8px 0;  
         }  
hr {  
  border: 1px solid #b4acac;  
  margin-bottom: 25px;  
}  

</style>   


<!DOCTYPE html>

<html>
<head>
</head>
<body>
    
    <div >
        <h1>Generate Payroll<a asp-action="AdminDashBoard" asp-controller="Login" class="btn btn-sm btn-secondary" >Back</a></h1>
        <form method="post">
          <br>
          <div class="row"></div>

<label for="site-search">Search By Employeeid:</label>
<input type="search" id="site-search" name="q">

<button>Search</button>

 @* <div class="form-group col-md-5">
                    <label  asp-for="Rolename"></label>
                    <select type="text" asp-for="Rolename" class="form-select form-control-md">
                      <option asp-value="admin">Intern</option>
                      <option asp-value="trainer">Tester</option>
                      <option asp-value="trainee">Developer</option>
                      <option asp-value="trainee">HR</option>
                    </select>
                  </div> *@
        <div class=" panel-body col-md-5">
                <button type="submit" class="btn btn-sm btn-primary">Generate Salary</button>
            </div>
        </form>

  </br>
  </body>

  <form asp-action="PayrollList"asp-controller="Payroll" >
                                    <button>List of Payroll</button>
                                </form>




